.cell
{
    width:150px;
    height:50px;
    font-size: 20px;
    text-align:center;
}
.main
{
    width:200px;
    height:60px;
    font-size:40px;
    text-align: right;
    background-color:#ffe0ff;
    margin: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
}
.buton
{
    width:100px;
    height:50px;
    border-radius: 20px;
    font-size: 25px;
    border-width: 4px;
}
#plus
{
    color: dodgerblue;
    border-color: dodgerblue;

}
#minus
{
    color: crimson;
    border-color: crimson;
}

#inputNum
{
    width:200px;
    height:100px;
}

#probability
{
    text-align:center;
    font-size: 20px;
}


body
{
    background-color:#263238;
}
h1
{
    color: white;
}
p
{
    color:white;
}
div
{
    text-align: center;
}
input.chbox+label
{
    color:white;
    font-size: 20px;
}

