.cell
{
    width:150px;
    height:50px;
    font-size: 20px;
    text-align:center;
}
.main
{
    width:200px;
    height:80px;
    font-size:30px;
    text-align: end;
    background-color:#ffe0ff;
}
.buton
{
    width:100px; 
    height:50px
}
#inputNum
{
    width:200px;
    height:100px;
}
body
{
    background-color:#263238;
}
h1
{
    color: white;
}
p
{
    color:white;
}
input.chbox+label
{
    color:white;
}


